<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div
      id="button-register"
      style="height: 30px; width: 20%; border: 1px solid black"
    >
      <a href="register.html">register</a>
    </div>
    <div
      id="button-login"
      style="height: 30px; width: 20%; border: 1px solid black"
    >
      <a href="login.html">login</a>
    </div>
    <div
      id="button-add-user-info"
      style="height: 30px; width: 20%; border: 1px solid black"
    >
      <a href="add-user-info.html">add user info</a>
    </div>
    <div
      id="button-update-user-info"
      style="height: 30px; width: 20%; border: 1px solid black"
    >
      <a href="update-user-info.html">update user info</a>
    </div>
    <div
      id="button-delete-user"
      style="height: 30px; width: 20%; border: 1px solid black"
    >
      <a href="delete-user.html">delete user</a>
    </div>
    <div
      id="button-change-password"
      style="height: 30px; width: 20%; border: 1px solid black"
    >
      <a href="change-password.html">change password</a>
    </div>
    <div
      id="button-change-password"
      style="height: 30px; width: 20%; border: 1px solid black"
    >
      <a href="all-users.html">all users</a>
    </div>
  </body>
</html>
