#content {
  width: 30%;
  height: 25%;
}

.clock {
  margin: 20px;
  border-radius: 15%;
  background-color: whitesmoke;
  height: 150px;
  width: 150px;
  border: 1px solid black;
}

.point {
  height: 10px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -5px;
  border: 1px solid black;
}

#clock-transform {
  float: right;
}

#clock-position {
  float: left;
  position: relative;
}

.point-position {
  position: relative;
}

#hour-point-position {
  background-color: black;
  position: relative;
  top: 42px;
  left: 60px;
  height: 5px;
  width: 60px;
}

#minute-point-position {
  background-color: black;
  position: relative;
  top: -23px;
  left: 72px;
  height: 80px;
  width: 5px;
}

#hour-point-transform {
  background-color: black;
  height: 5px;
  width: 60px;
  transform: translate(105%, 850%);
}

#minute-point-transform {
  background-color: black;
  height: 5px;
  width: 80px;
  transform: translate(45%, 290%) rotate(90deg);
}

.point-position:nth-child(1) {
  top: 10px;
  left: 73px;
}

.point-position:nth-child(2) {
  top: 65px;
  left: 10px;
}

.point-position:nth-child(3) {
  top: 57px;
  left: 135px;
}

.point-position:nth-child(4) {
  top: 117px;
  left: 73px;
}

.point-transform:nth-child(1) {
  transform: rotate(28deg) translate(155px) rotate(-28deg);
}

.point-transform:nth-child(2) {
  transform: rotate(60deg) translate(150px) rotate(-60deg);
}

.point-transform:nth-child(3) {
  transform: rotate(80deg) translate(59px) rotate(-80deg);
}

.point-transform:nth-child(4) {
  transform: rotate(-10deg) translate(75px) rotate(10deg);
}
